
			<h2>
				Organization: <%= @program.organization %>
			</h2>
			<div>
				<p>Location: <%= @program.address %></p>		
			</div>
			<div>
				<p>Phone: <%= @program.phone %></p>
			</div>
			<div>
				<p>Website: <a href='http://<%= "#{@program.website}" %>'><%= @program.website %></a></p>
			</div>
			<div>
				<p>Description: <%= @program.description %></p>
			</div>

	
