<h3>Trending Programs</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<a href="#" id="see-all-programs">See all</a>

<h3>Your Programs</h3>
<div class="row">
  <% user_programs_attending[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<% if user_programs_attending.length > 3 %>
  <a href="#" id="see-all-favorites">See all</a>
<% elsif user_programs_attending.length == 0 %>
  <p>You haven't said you are attending any programs!</p>
<% end %>

<h3>Your Favorite Programs</h3>
<div class="row">
  <% favorites[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<% if favorites.length > 3 %>
  <a href="#" id="see-all-favorites">See all</a>
<% elsif favorites.length == 0 %>
  <p>You don't have any favorites!</p>
<% end %>

<h3>Programs Your Classmates are Attending</h3>
<div class="row">
  <% classmate_programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<% if classmate_programs.length > 3 %>
  <a href="#" id="see-all-classmate-programs">See all</a>
<% elsif favorites.length == 0 %>
  <p>Your classmates haven't registered for any programs!</p>
<% end %>

<h3>Your Program Ideas</h3>
<div class="row">
  <% user_programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<% if user_programs.length > 3 %>
  <a href="#" id="see-all-user-programs">See all</a>
<% elsif user_programs.length == 0 %>
  <p>You haven't submitted any ideas for new after school programs!</p>
<% end %>
